



@using Ineval.Models.Filters
@using MvcJqGrid
@using MvcJqGrid.Enums
@using RP.Website.Helpers

@model Ineval.Dto.ParametrosInicialesViewModel

@{
    ViewBag.Title = "Parametros Iniciales";
}

@*@Scripts.Render("~/bundles/modalStatic")*@

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row mx-0">
            <div class="col-8 d-flex align-items-center pl-0">
                <h5 class="content-header-title float-left pr-1 mb-0">@ViewBag.Title</h5>
                <div class="breadcrumb-wrapper col-9">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-4 px-0 pt-xl-0 pt-1">
                <button type="button" class="btn btn-success glow invoice-create float-right mr-1 mb-0" data-toggle="modal" role="button" aria-pressed="true" data-bind="click:New,visible:VisibleNew">
                    <i class='bx bx-folder-plus' data-toggle="tooltip" data-placement="top" title="" data-original-title="Nuevo" aria-describedby="tooltip273063"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card-body border-div-history">
    <section class="admission-list-wrapper">
        <div class="admission-list-filter px-1">

            <div class="row border-div-simec py-2 mb-2">
                <div class="col-12  col-sm-12 col-lg-12 ">
                    <div class="form-group" data-bind="visible:Existe()==false">
                        No Existe Registros
                    </div>
                    <div class="form-group" data-bind="visible:Existe()==true">
                        <input type="hidden" name="name" value="" data-bind="value:Id" />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Hora Inicio Evaluación (HH:MM:SS):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="name" value="" class="form-control" data-bind="value:HoraInicio,enable:EditarEnable,event:{blur:EventoCambioFecha}" onblur="CheckTime(this)" />
                                    @*<div class='input-group date' id='datetimepicker'>
                                            <input data-bind='datetimepickerHour: HoraInicio' class="form-control" id="start" />
                                            <span class="input-group-addon cal-sm" style="pointer-events:none;">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Hora Fin Evaluación (HH:MM:SS):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="name" value="" class="form-control" data-bind="value:HoraMaxima,enable:EditarEnable,event:{blur:EventoCambioFecha}" onblur="CheckTime(this)" />
                                    @*<div class='input-group date' id='datetimepicker'>
                                            <input data-bind='datetimepickerHour: HoraInicio' class="form-control" id="start" />
                                            <span class="input-group-addon cal-sm" style="pointer-events:none;">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Tiempo Evaluación (HH:MM:SS):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="name" value="" class="form-control" data-bind="value:TiempoEvaluacion,enable:EditarEnable,event:{blur:EventoCambioFecha}" onblur="CheckTime(this)" />
                                    @*<div class='input-group date' id='datetimepicker'>
                                            <input data-bind='datetimepickerHour: HoraInicio' class="form-control" id="start" />
                                            <span class="input-group-addon cal-sm" style="pointer-events:none;">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Timepo Receso (HH:MM:SS):</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="name" value="" class="form-control" data-bind="value:TiempoReceso,enable:EditarEnable,event:{blur:EventoCambioFecha}" onblur="CheckTime(this)" />
                                    @*<div class='input-group date' id='datetimepicker'>
                                            <input data-bind='datetimepickerHour: HoraInicio' class="form-control" id="start" />
                                            <span class="input-group-addon cal-sm" style="pointer-events:none;">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label class="control-label">Aplicar Numero de Laboratorios:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" class="" name="name" value="" data-bind="checked:SinoNumeroLaboratorios,enable:EditarEnable" />

                                    </div>
                                    <div class="col-md-4" data-bind="enable:VisibleNumeroLab">
                                        <input type="number" class="form-control" name="name" value="" data-bind="value:NumeroLaboratorios,enable:EditarEnable" />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>*@
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Aplicar Numero de Dias a Evaluar:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" class="" name="name" value="" data-bind="checked:SinoNumeroDiasEvaluar,enable:EditarEnable" />
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="name" value="" data-bind="value:NumeroDiasEvaluar,enable:EditarEnable" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Aplicar Numero de Sesiones:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" class="" name="name" value="" data-bind="checked:SinoNumerosSesiones,enable:EditarEnable" />
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="name" value="" data-bind="value:NumerosSesiones,enable:EditarEnable" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Aplicar Numero de Sustentantes por Sessión:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" class="" name="name" value="" data-bind="checked:SinoNumeroEquipos,enable:EditarEnable" />
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="name" value="" data-bind="value:NumeroEquipos,enable:EditarEnable" />
                                </div>
                            </div>
                        </div>                       
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label class="control-label">Aplicar Tiempo de Viaje(minutos):</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" class="" name="name" value="" data-bind="checked:SinoTiempoViaje,enable:EditarEnable" />
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="name" value="" data-bind="value:TiempoViaje,enable:EditarEnable" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" data-bind="click: Guardar,visible:VisibleSave" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
                </button>
                <button type="button" data-bind="click: Edit,visible:VisibleEdit" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-edit"></span> Editar
                </button>
                <button type="button" data-bind="click: Cancel,visible:VisibleCancel" class="btn btn-warning">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" language="javascript" src="~/Scripts/Pages/Procesos/ParametrosIniciales.js"></script>


@section scripts
    {
    @*<script type="text/javascript" language="javascript" src="~/Scripts/Pages/core/person/personCore.js"></script>
        <script type="text/javascript" language="javascript" src="~/Scripts/Pages/core/security/UsuarioConfig.js"></script>*@

}
