@using Ineval.Models.Filters
@using MvcJqGrid
@using MvcJqGrid.Enums
@using RP.Website.Helpers

@model Ineval.Dto.ParametrosInicialesViewModel

@{
    ViewBag.Title = "Parametros Iniciales";
}

@*@Scripts.Render("~/bundles/modalStatic")*@
<style>
    .tiempos::-webkit-calendar-picker-indicator {
        background: none;
    }
</style>
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row mx-0">
            <div class="col-8 d-flex align-items-center pl-0">
                <h5 class="content-header-title float-left pr-1 mb-0">@ViewBag.Title</h5>
                <div class="breadcrumb-wrapper col-9">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-4 px-0 pt-xl-0 pt-1">
                <button type="button" class="btn btn-success glow invoice-create float-right mr-1 mb-0" data-toggle="modal" role="button" aria-pressed="true" id="btn-nuevo">
                    <i class='bx bx-folder-plus' data-toggle="tooltip" data-placement="top" title="" data-original-title="Nuevo" aria-describedby="tooltip273063"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card-body border-div-history">
    <section class="admission-list-wrapper">
        <div class="admission-list-filter px-1">

            <div class="row border-div-simec py-2 mb-2">
                <div class="col-12  col-sm-12 col-lg-12 ">
                    <div class="form-group" id="existe">
                        No Existe Registros
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group" data-bind="visible:Existe()" id="frm">
                                <input type="hidden" name="name" id="Id" />
                                
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Fecha de la Sesión:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="date" id="txt-FechaSesion" class="form-control calendar" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="validarFechaSesion(this)" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Hora Inicio Evaluación (HH:MM:SS):</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="time" id="txt-HoraInicio" class="form-control" onchange="Valhora1(this)" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Hora Fin Evaluación (HH:MM:SS):</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="time" id="txt-HoraFin" value="" class="form-control" onchange="Valhora2(this)" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Tiempo Evaluación (HH:MM:SS):</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="time" name="name" id="txt-HoraEvaluacion" onchange="ValEvaluacion(this)" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Tiempo Receso (HH:MM:SS):</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="time" name="name" id="txt-HoraReceso" onchange="ValReceso(this)" class="form-control" />

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Aplicar Número de Días a Evaluar:</label>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="number" class="form-control" value="1" id="txt-diaseval" @*onkeyup="generar(this)"*@ />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Aplicar Número de Sesiones:</label>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="number" class="form-control" name="name" id="NumSesion" onkeyup="generar(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Aplicar Número de Sustentantes por Sessión:</label>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="number" class="form-control" name="NumeroSustentantes" value="" id="NumeroSustentantes" onkeyup="CalcularSesionesOcupar1(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Aplicar Tiempo de Viaje(minutos):</label>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="number" class="form-control" name="name" id="txt-tiempoViaje" value="60" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <div class="col-md-8">
                                            <label>Aplicar Numero de Laboratorios?</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="checkbox" name="name" value="" id="chk-aplicarnumlabo" onchange="AplicarLaboratorio(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" name="name" id="txt-NumeroLaboratorios" value="0" />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-10">
                                        <div class="col-md-4">
                                            <label class="control-label">Territorio:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">NIvel Nacional:</label>
                                            <input type="radio" name="tipo" id="tipoNacional" value="1" checked />
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Nivel Interno:</label>
                                            <input type="radio" name="tipo" id="tipoInterno" value="2" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <label class="control-label">Sustentantes Totales:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="txtTotalSustentantes" class="form-control" onkeyup="CalcularSesionesOcupar(this)" />

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <label class="control-label">Total de Sesiones a Ocupar:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtTotalSesionesOcupar" class="form-control" readonly />

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <label class="control-label">Total Laboratorios:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtTotalLaboratorios" class="form-control" readonly />

                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered" id="tbl_valores">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody id="detalle_datos"></tbody>
                            </table>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div>
                @if (User.IsInRole("Administrador") || User.IsInRole("Responsable_Unidad"))
                {
                    <button type="button" class="btn btn-primary" id="btn-guardar">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" id="btn-editar">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <button type="button" class="btn btn-warning" id="btn-cancelar">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                }
                </div>
                
                
        </div>
    </section>
</div>
<script type="text/javascript" language="javascript" src="~/Scripts/Pages/Procesos/ParametrosIniciales.js"></script>