@{
    ViewBag.Title = "Filtros";
}

@*@Scripts.Render("~/bundles/modalStatic")*@

<link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
<script src="~/Scripts/Chosen/chosen.jquery.js"></script>

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row mx-0">
            <div class="col-8 d-flex align-items-center pl-0">
                <h5 class="content-header-title float-left pr-1 mb-0">@ViewBag.Title</h5>
                <div class="breadcrumb-wrapper col-9">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-4 px-0 pt-xl-0 pt-1">
                @if (User.IsInRole("Administrador") || User.IsInRole("Responsable_Unidad"))
                {

                    <button type="button" class="btn btn-success glow invoice-create float-right mr-1 mb-0" data-toggle="modal" role="button" aria-pressed="true" data-bind="click:New,visible:VisibleNew">
                        <i class='bx bx-folder-plus' data-toggle="tooltip" data-placement="top" title="" data-original-title="Nuevo" aria-describedby="tooltip273063"></i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<div class="card-body border-div-history">
    <section class="admission-list-wrapper">
        <div class="admission-list-filter px-1">

            <div class="row border-div-simec py-2 mb-2">
                <div class="col-12  col-sm-12 col-lg-12 ">
                    <div class="form-group" data-bind="visible:Existe()==false">
                        No Existe Registros
                    </div>
                    <div class="form-group" data-bind="visible:Existe()==true">
                        <input type="hidden" name="name" value="" data-bind="value:Id" />
                        <div class="col-md-12 col-12 col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading"></div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="col-md-3"><label class="control-label">Filtro</label></div>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="cmbFiltro1" data-bind="value:Filtro1,event:{ change: cambiarFiltro}">
                                                        <option value="">-- Seleccione --</option>
                                                        <option value="1">Amie</option>
                                                        <option value="2">Provincia</option>
                                                        <option value="3">Canton</option>
                                                        <option value="4">Parroquia</option>
                                                        <option value="6">Distrito</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3" data-bind="visible:visibleFiltro2">
                                                <div class="col-md-3"><label class="control-label">Filtro 2</label></div>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="cmbFiltro2" data-bind="value:Filtro2,event:{ change: cambiarFiltro2}" multiple data-placeholder="Seleccione">
                                                        <option value="jornada_sustentante">Jornada</option>
                                                        <option value="saber">Saber</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3" data-bind="visible:visibleFiltro3">
                                                <div class="col-md-3"><label class="control-label">Filtro 3</label></div>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="cmbFiltro3" data-bind="value:Filtro3,event:{change:cargarDatos}">
                                                        <option value="">-- Seleccione --</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12"><br /> </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3" data-bind="visible:visibleFiltro4">
                                                <div class="col-md-3"><label class="control-label">Filtro 4</label></div>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="cmbFiltro4" data-bind="value:Filtro4, event:{change:cargarDatosF4}" multiple>
                                                        
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3" data-bind="visible:visibleFiltro5">
                                                <div class="col-md-3"><label class="control-label">Filtro 5</label></div>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="cmbFiltro5" data-bind="value:Filtro5">
                                                        <option value="">-- Seleccione --</option>
                                                        <option value="1">Jornada</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align:center">
                                        <button class="btn btn-primary" data-bind="click:Filtro">Aplicar Filtro</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @*<div>
                    <button type="button" data-bind="click: Guardar,visible:VisibleSave" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
                    </button>
                    <button type="button" data-bind="click: Edit,visible:VisibleEdit" class="btn btn-secondary">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <button type="button" data-bind="click: Cancel,visible:VisibleCancel" class="btn btn-warning">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>*@
            <div class="progress">
                <div class="progress-bar progress-bar-striped" id="progress_ineval" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" id="progress_inevalAsignando" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" language="javascript" src="~/Scripts/Pages/Procesos/ProcesoAsignacion.js"></script>

<script type="text/javascript">
    //ponle este codigo en la page master de record

    
</script>

