<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Filtros</label>
        <div class="form-group">
            <div class=" ">
                <label class="control-label">Sedes</label>
            </div>

            <div class="col-md-10">
                <select id="cmbSedes" class="form-control" onchange="cambioSedes(this)">
                </select>
            </div>
        </div>
        @if (User.IsInRole("Administrador") || User.IsInRole("Responsable_Unidad") || User.IsInRole("Analista"))
        {

            <div class="form-group">
                <div class="">
                    <label class="control-label">Exportar</label>
                </div>
                <div class="col-md-10">
                    <button id="crearimagen" class="form-control" onclick="crearimagen()">Exportar</button>
                </div>
            </div>
        }
        </div>
    <div class="col-md-10">
        <div id='map' style='width: 100%; height: 800px;'></div>
    </div>

</div>
<script type="text/javascript" src="~/Scripts/Pages/Procesos/DatosMapas.js"></script>