@using Ineval.Models.Filters
@using MvcJqGrid
@using MvcJqGrid.Enums
@using RP.Website.Helpers

@model Ineval.Dto.Dto.Procesos.AsignacionViewModel

@{
    ViewBag.Title = "Datos Nueva Asignacion";
}

@Scripts.Render("~/bundles/modalStatic")

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row mx-0">
            <div class="col-8 d-flex align-items-center pl-0">
                <h5 class="content-header-title float-left pr-1 mb-0">@ViewBag.Title</h5>
                <div class="breadcrumb-wrapper col-9">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-4 px-0 pt-xl-0 pt-1">
                @*<button type="button" class="btn btn-success glow invoice-create float-right mr-1 mb-0" data-toggle="modal" data-target="#usuarios-modal" role="button" aria-pressed="true">
                        <i class='bx bx-folder-plus' data-toggle="tooltip" data-placement="top" title="" data-original-title="Nuevo" aria-describedby="tooltip273063"></i>
                    </button>*@
            </div>
        </div>
    </div>
</div>
<div class="card-body border-div-history">
    <section class="admission-list-wrapper">
        <div class="admission-list-filter px-1">

            <div class="row border-div-simec py-2 mb-2">
                <div class="col-12  col-sm-12 col-lg-12 ">
                    <button type="button" onclick="CargaMatriz()" class="btn btn-primary">
                        Cargar Datos Sustentantes
                    </button>

                </div>
            </div>
        </div>
    </section>
</div>



@section scripts
    {
    <script src="~/Scripts/Pages/Procesos/DatosTemporales.js"></script>
}

