<div id="Content">
</div>
<script src="~/Scripts/knockout.debug.js"></script>
<script src="~/Scripts/knockout.mapping.js"></script>
@section scripts
    {
    <script>
        var vmh = {};
        function KnockoutHistory() {
            vmh.CurrentUrl = ko.observable()
            vmh.CurrentId = ko.observable(window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1))
            vmh.PasswordMapBox = ko.observable("");
            vmh.LoadView = function (e) {
                $("#Content").load(e.LoadView.arguments[1].currentTarget.pathname);
                $("#Content").show();
                vmh.CurrentUrl(e.LoadView.arguments[1].currentTarget.pathname)
            }

            vmh.FinalizarProceso = function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Asignacion/UpdateEstadoProceso",
                    data: JSON.stringify({
                        Id: vmh.CurrentId()
                    }),
                    success: function (Data) {
                        if (Data.status) {
                            swal(Data.message, "", "success");
                            window.location = "/Home";
                        }
                    }
                });
            }

            vmh.GetUsers = function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/ViewTest/GetUsers',
                    //data: JSON.stringify(),
                    success: function (data) {
                        if (data.Data != null && data.Data != "") {
                            vmh.PasswordMapBox(data.Data);

                        } else {
                            error("Debe registrarse en MapBox para usar las funciones Completas del Sistema");
                        }
                    }
                });
            }
            //call to get users list when the VM is loading or you can call it on any event on your model
            vmh.GetUsers();

            ko.applyBindings(vmh, $("#secondary-list-id")[0]);
        }
        KnockoutHistory();


        var conexionHub = $.connection.progressHub;
    </script>
}